<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <braspag_pagador_billet>
                <active>1</active>
                <model>BraspagTransactionBilletRemoteMethodAdapter</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Braspag transaction Boleto</title>
                <can_authorize>1</can_authorize>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
            </braspag_pagador_billet>
            <braspag_pagador_creditcard>
                <active>1</active>
                <model>BraspagTransactionCreditCardsRemoteMethodAdapter</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Braspag Transaction Credit Card</title>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_use_checkout>1</can_use_checkout>
                <cctypes>Simulado</cctypes>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
                <installments_interest_by_issuer>0</installments_interest_by_issuer>
                <installments_number>12</installments_number>
                <installments_is_with_interest>1</installments_is_with_interest>
                <installment_min_amount>10.00</installment_min_amount>
                <installments_interest_rate>10</installments_interest_rate>
                <installments_max_without_interest>6</installments_max_without_interest>
            </braspag_pagador_creditcard>
        </payment>
    </default>
</config>