<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <braspag_pagador_boleto>
                <active>1</active>
                <model>BraspagTransactionBoletoRemoteMethodAdapter</model>
                <order_status>pending</order_status>
                <payment_action>order</payment_action>
                <title>Braspag transaction Boleto</title>
                <can_authorize>1</can_authorize>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
                <can_initialize>1</can_initialize>
                <can_use_internal>1</can_use_internal>
            </braspag_pagador_boleto>
            <braspag_pagador_creditcard>
                <active>1</active>
                <model>BraspagTransactionCreditCardsRemoteMethodAdapter</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Braspag Transaction Credit Card</title>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_use_checkout>1</can_use_checkout>
                <cctypes>Simulado</cctypes>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
                <installments_active>0</installments_active>
                <installments_interest_by_issuer>0</installments_interest_by_issuer>
                <installments_number>12</installments_number>
                <installments_is_with_interest>1</installments_is_with_interest>
                <installment_min_amount>10.00</installment_min_amount>
                <installments_interest_rate>10</installments_interest_rate>
                <installments_max_without_interest>6</installments_max_without_interest>
                <silentorderpost_active>0</silentorderpost_active>
                <silentorderpost_paymenttoken_url_homolog>https://transactionsandbox.pagador.com.br/post/api/public/v1/card</silentorderpost_paymenttoken_url_homolog>
                <silentorderpost_paymenttoken_url_production>https://www.pagador.com.br/post/api/public/v1/card</silentorderpost_paymenttoken_url_production>
                <silentorderpost_accesstoken_url_homolog>https://transactionsandbox.pagador.com.br/post/api/public/v1/accesstoken?merchantid=</silentorderpost_accesstoken_url_homolog>
                <silentorderpost_accesstoken_url_production>https://www.pagador.com.br/post/api/public/v1/accesstoken?merchantid=</silentorderpost_accesstoken_url_production>
                <can_initialize>1</can_initialize>
                <can_use_internal>1</can_use_internal>
                <create_invoice_on_notification_captured>1</create_invoice_on_notification_captured>
                <customer_identity_attribute_code>vat_id</customer_identity_attribute_code>
            </braspag_pagador_creditcard>
            <braspag_pagador_creditcardtoken>
                <active>1</active>
                <model>BraspagTransactionCreditCardTokensRemoteMethodAdapter</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Braspag Transaction Credit Card JustClick</title>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_use_checkout>1</can_use_checkout>
                <cctypes>Simulado</cctypes>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
                <installments_interest_by_issuer>0</installments_interest_by_issuer>
                <installments_number>12</installments_number>
                <installments_is_with_interest>1</installments_is_with_interest>
                <installment_min_amount>10.00</installment_min_amount>
                <installments_interest_rate>10</installments_interest_rate>
                <installments_max_without_interest>6</installments_max_without_interest>
                <can_use_internal>1</can_use_internal>
            </braspag_pagador_creditcardtoken>
            <braspag_pagador_debitcard>
                <active>1</active>
                <model>BraspagTransactionDebitCardsRemoteMethodAdapter</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Braspag transaction Debit</title>
                <can_authorize>1</can_authorize>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <cctypes>Simulado</cctypes>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
                <can_initialize>1</can_initialize>
                <can_use_internal>1</can_use_internal>
            </braspag_pagador_debitcard>
        </payment>
        <address>
            <braspag_pagador_customer_address>
                <address_sanitize>1</address_sanitize>
                <address_sanitize_district_dictionary>Neighborhood-Nb.;Housing-Hs</address_sanitize_district_dictionary>
            </braspag_pagador_customer_address>
        </address>
        <webjump_braspag>
            <pagador>
                <test_mode>1</test_mode>
            </pagador>
        </webjump_braspag>
        <webjump_braspag_antifraud>
            <fingerprint>
                <src_js>https://h.online-metrix.net/fp/tags.js</src_js>
            </fingerprint>

            <options>
                <sequence>AnalyseFirst</sequence>
                <sequence_criteria>OnSuccess</sequence_criteria>
                <capture_in_low_risk>0</capture_in_low_risk>
                <void_in_high_risk>0</void_in_high_risk>
            </options>
        </webjump_braspag_antifraud>
    </default>
</config>
