<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Webjump\BraspagPagador\Api\CardTokenRepositoryInterface" type="Webjump\BraspagPagador\Model\CardTokenRepository" />
    <preference for="Webjump\BraspagPagador\Gateway\Transaction\CreditCard\Resource\Tokens\BuilderInterface" type="Webjump\BraspagPagador\Gateway\Transaction\CreditCard\Resource\Tokens\Builder" />
    <preference for="Webjump\BraspagPagador\Gateway\Transaction\Base\Resource\SilentOrderPost\BuilderInterface" type="Webjump\BraspagPagador\Gateway\Transaction\Base\Resource\SilentOrderPost\Builder" />
    <preference for="Webjump\BraspagPagador\Api\RedirectPaymentInterface" type="Webjump\BraspagPagador\Model\RedirectPayment" />
    <preference for="Webjump\BraspagPagador\Api\InstallmentsInterface" type="Webjump\BraspagPagador\Model\Installments" />
    <preference for="Webjump\BraspagPagador\Api\SilentAuthTokenInterface" type="Webjump\BraspagPagador\Model\SilentAuthToken" />
    <preference for="Webjump\BraspagPagador\Gateway\Transaction\Base\Resource\Installments\BuilderInterface" type="Webjump\BraspagPagador\Gateway\Transaction\Base\Resource\Installments\Builder" />

    <preference for="Webjump\BraspagPagador\Gateway\Transaction\Base\Config\ContextInterface" type="Webjump\BraspagPagador\Gateway\Transaction\Base\Config\Context" />
    <preference for="Webjump\BraspagPagador\Gateway\Transaction\Base\Config\ConfigInterface" type="Webjump\BraspagPagador\Gateway\Transaction\Base\Config\Config" />
    <preference for="Webjump\BraspagPagador\Gateway\Transaction\Base\Config\InstallmentsConfigInterface" type="Webjump\BraspagPagador\Gateway\Transaction\Base\Config\InstallmentsConfig" />
    <preference for="Webjump\BraspagPagador\Gateway\Transaction\Base\Config\SilentOrderPostConfigInterface" type="Webjump\BraspagPagador\Gateway\Transaction\Base\Config\SilentOrderPostConfig" />
    <preference for="Webjump\BraspagPagador\Gateway\Transaction\Billet\Config\ConfigInterface" type="Webjump\BraspagPagador\Gateway\Transaction\Billet\Config\Config" />
    <preference for="Webjump\BraspagPagador\Gateway\Transaction\CreditCard\Config\ConfigInterface" type="Webjump\BraspagPagador\Gateway\Transaction\CreditCard\Config\Config" />
    <preference for="Webjump\BraspagPagador\Gateway\Transaction\CreditCard\Config\AntiFraudConfigInterface" type="Webjump\BraspagPagador\Gateway\Transaction\CreditCard\Config\AntiFraudConfig" />
    <preference for="Webjump\BraspagPagador\Gateway\Transaction\DebitCard\Config\ConfigInterface" type="Webjump\BraspagPagador\Gateway\Transaction\DebitCard\Config\Config" />
    <preference for="Webjump\BraspagPagador\Gateway\Transaction\Base\Resource\Installments\InstallmentFactoryInterface" type="Webjump\BraspagPagador\Gateway\Transaction\Base\Resource\Installments\InstallmentFactory" />
    <preference for="Webjump\BraspagPagador\Model\Payment\Info\BilletFactoryInterface" type="Webjump\BraspagPagador\Model\Payment\Info\BilletFactory" />
    <preference for="Webjump\BraspagPagador\Model\Payment\Info\CreditCardFactoryInterface" type="Webjump\BraspagPagador\Model\Payment\Info\CreditCardFactory" />

    <preference for="Webjump\BraspagPagador\Gateway\Transaction\CreditCard\Resource\AntiFraud\MDD\AdapterGeneralInterface" type="Webjump\BraspagPagador\Gateway\Transaction\CreditCard\Resource\AntiFraud\MDD\GeneralRequest" />
    <preference for="Webjump\BraspagPagador\Gateway\Transaction\CreditCard\Config\MDDConfigInterface" type="Webjump\BraspagPagador\Gateway\Transaction\CreditCard\Config\MDDConfig" />

    <preference for="Webjump\BraspagPagador\Api\NotificationManagerInterface" type="Webjump\BraspagPagador\Model\NotificationManager" />
    <preference for="Webjump\BraspagPagador\Gateway\Transaction\Base\Resource\PaymentStatus\RequestInterface" type="Webjump\BraspagPagador\Gateway\Transaction\Base\Resource\PaymentStatus\Request" />

    <preference for="Webjump\BraspagPagador\Gateway\Transaction\Auth3Ds20\Resource\Token\RequestInterface" type="Webjump\BraspagPagador\Gateway\Transaction\Auth3Ds20\Resource\Token\Request" />
    <preference for="Webjump\BraspagPagador\Api\Auth3Ds20TokenManagerInterface" type="Webjump\BraspagPagador\Model\Auth3Ds20TokenManager" />
    <preference for="Webjump\BraspagPagador\Gateway\Transaction\Auth3Ds20\Resource\Token\BuilderInterface" type="Webjump\BraspagPagador\Gateway\Transaction\Auth3Ds20\Resource\Token\Builder" />

    <preference for="Webjump\Braspag\Pagador\Transaction\FacadeInterface" type="Webjump\Braspag\Pagador\Transaction\BraspagFacade" />
    <preference for="Webjump\BraspagPagador\Api\CardTokenManagerInterface" type="Webjump\BraspagPagador\Model\CardTokenManager" />

    <type name="Webjump\BraspagPagador\Gateway\Transaction\Base\Config\Context">
        <arguments>
            <argument name="session" xsi:type="object">\Magento\Checkout\Model\Session</argument>
            <argument name="dateTime" xsi:type="object">\Magento\Framework\Stdlib\DateTime</argument>
        </arguments>
    </type>

    <type name="Webjump\BraspagPagador\Gateway\Transaction\Base\Config\ContextAdmin">
        <arguments>
            <argument name="session" xsi:type="object">Magento\Backend\Model\Session\Quote</argument>
            <argument name="dateTime" xsi:type="object">Magento\Framework\Stdlib\DateTime</argument>
        </arguments>
    </type>

    <virtualType name="BraspagTransactionBilletSendRequest" type="Webjump\BraspagPagador\Gateway\Transaction\Billet\Resource\Send\Request" />
    <virtualType name="BraspagTransactionCreditCardCaptureRequest" type="Webjump\BraspagPagador\Gateway\Transaction\CreditCard\Resource\Capture\Request" />
    <virtualType name="BraspagTransactionDebitCardOrderRequest" type="Webjump\BraspagPagador\Gateway\Transaction\DebitCard\Resource\Order\Request" />

    <type name="Webjump\BraspagPagador\Gateway\Transaction\Base\Config\InstallmentsConfig">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="code" xsi:type="const">\Webjump\BraspagPagador\Model\Payment\Transaction\CreditCard\Ui\ConfigProvider::CODE</item>
            </argument>
        </arguments>
    </type>

    <type name="Webjump\BraspagPagador\Gateway\Transaction\Base\Config\SilentOrderPostConfig">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="code" xsi:type="const">\Webjump\BraspagPagador\Model\Payment\Transaction\CreditCard\Ui\ConfigProvider::CODE</item>
            </argument>
        </arguments>
    </type>

    <type name="Webjump\BraspagPagador\Gateway\Transaction\CreditCard\Resource\Tokens\Builder">
        <arguments>
            <argument name="customerSession" xsi:type="object">\Magento\Customer\Model\Session</argument>
        </arguments>
    </type>

    <virtualType name="BraspagTransactionCreditCardSilentOrderConverterZendClient" type="Magento\Payment\Gateway\Http\Client\Zend">
        <arguments>
            <argument name="converter" xsi:type="object">Webjump\BraspagPagador\Gateway\Transaction\Base\Resource\SilentOrderPost\ConvertResponse</argument>
        </arguments>
    </virtualType>

    <type name="Webjump\BraspagPagador\Gateway\Transaction\Base\Resource\SilentOrderPost\Builder">
        <arguments>
            <argument name="client" xsi:type="object">BraspagTransactionCreditCardSilentOrderConverterZendClient</argument>
        </arguments>
    </type>

    <type name="Webjump\BraspagPagador\Model\Payment\Info\BilletFactory">
        <arguments>
            <argument name="objectManager" xsi:type="object">\Magento\Framework\ObjectManager\ObjectManager</argument>
        </arguments>
    </type>

    <type name="Webjump\BraspagPagador\Block\Payment\Info\Billet">
        <arguments>
            <argument name="context" xsi:type="object">\Magento\Framework\View\Element\Template\Context</argument>
            <argument name="objectManager" xsi:type="object">\Magento\Framework\ObjectManager\ObjectManager</argument>
        </arguments>
    </type>

    <type name="\Webjump\BraspagPagador\Block\AntiFraud\FingerPrint">
        <arguments>
            <argument name="context" xsi:type="object">\Magento\Framework\View\Element\Template\Context</argument>
            <argument name="antiFraudFingerPrint" xsi:type="object">\Webjump\BraspagPagador\Model\AntiFraud\FingerPrint\FingerPrint</argument>
        </arguments>
    </type>

	<!-- Braspag Pagador Transaction Payment Billet -->

    <virtualType name="BraspagTransactionBilletRemoteMethodAdapter" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\Webjump\BraspagPagador\Model\Payment\Transaction\Billet\Ui\ConfigProvider::CODE</argument>
            <argument name="valueHandlerPool" xsi:type="object">BraspagTransactionBilletValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">BraspagTransactionBilletCommandPool</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Webjump\BraspagPagador\Block\Payment\Info\Billet</argument>
        </arguments>
    </virtualType>

    <virtualType name="BraspagTransactionBilletConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\Webjump\BraspagPagador\Model\Payment\Transaction\Billet\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <virtualType name="BraspagTransactionBilletConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">BraspagTransactionBilletConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="BraspagTransactionBilletValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">BraspagTransactionBilletConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>


    <virtualType name="BraspagTransactionBilletSendRequestBuilder" type="Webjump\BraspagPagador\Gateway\Transaction\Billet\Resource\Send\RequestBuilder">
        <arguments>
            <argument name="request" xsi:type="object">BraspagTransactionBilletSendRequest</argument>
        </arguments>
    </virtualType>

    <virtualType name="BraspagTransactionBilletSendCommand" type="Webjump\BraspagPagador\Gateway\Transaction\Billet\Command\SendCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">BraspagTransactionBilletSendRequestBuilder</argument>
            <argument name="responseHandler" xsi:type="object">\Webjump\BraspagPagador\Gateway\Transaction\Billet\Resource\Send\ResponseHandler</argument>
            <argument name="api" xsi:type="object">\Webjump\Braspag\Pagador\Transaction\BraspagFacade</argument>
        </arguments>
    </virtualType>

    <virtualType name="BraspagTransactionBilletCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="initialize" xsi:type="string">Webjump\BraspagPagador\Gateway\Transaction\Base\Command\InitializeCommand</item>
                <item name="authorize" xsi:type="string">BraspagTransactionBilletSendCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Braspag Pagador Transaction Payment Credit Card -->

    <virtualType name="BraspagTransactionCreditCardsRemoteMethodAdapter" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\Webjump\BraspagPagador\Model\Payment\Transaction\CreditCard\Ui\ConfigProvider::CODE</argument>
            <argument name="valueHandlerPool" xsi:type="object">BraspagTransactionCreditCardValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">BraspagTransactionCreditCardCommandPool</argument>
            <argument name="formBlockType" xsi:type="string">Webjump\BraspagPagador\Block\Form\CreditCard</argument>
            <argument name="infoBlockType" xsi:type="string">Webjump\BraspagPagador\Block\Payment\Info\CreditCard</argument>
        </arguments>
    </virtualType>

    <virtualType name="BraspagTransactionCreditCardConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\Webjump\BraspagPagador\Model\Payment\Transaction\CreditCard\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <virtualType name="BraspagTransactionCreditCardConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">BraspagTransactionCreditCardConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="BraspagTransactionCreditCardValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">BraspagTransactionCreditCardConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="BraspagTransactionCreditCardAuthorizeRequestBuilder" type="Webjump\BraspagPagador\Gateway\Transaction\CreditCard\Resource\Authorize\RequestBuilder">
        <arguments>
            <argument name="requestAntiFraud" xsi:type="object">BraspagPagadorTransactionCreditCardResourceAntiFraudRequest</argument>
            <argument name="requestAvs" xsi:type="object">BraspagPagadorTransactionCreditCardResourceAvsRequest</argument>
            <argument name="scopeConfigInterface" xsi:type="object">\Magento\Framework\App\Config</argument>
        </arguments>
    </virtualType>

    <type name="Webjump\BraspagPagador\Model\AntiFraud\FingerPrint\FingerPrint">
        <arguments>
            <argument name="scopeConfig" xsi:type="object">\Magento\Framework\App\Config</argument>
            <argument name="session" xsi:type="object">\Magento\Checkout\Model\Session</argument>
        </arguments>
    </type>

    <virtualType name="BraspagPagadorTransactionCreditCardResourceAntiFraudRequest" type="Webjump\BraspagPagador\Gateway\Transaction\CreditCard\Resource\AntiFraud\Request">
        <arguments>
            <argument name="requestItemFactory" xsi:type="object">BraspagPagadorTransactionCreditCardResourceAntiFraudItemsRequestFactory</argument>
        </arguments>
    </virtualType>

    <virtualType name="BraspagPagadorTransactionCreditCardResourceAvsRequest" type="Webjump\BraspagPagador\Gateway\Transaction\CreditCard\Resource\Avs\Request">
        <arguments>
            <argument name="session" xsi:type="object">Magento\Checkout\Model\Session</argument>
        </arguments>
    </virtualType>


    <virtualType name="BraspagPagadorTransactionCreditCardResourceAntiFraudItemsRequestFactory" type="Webjump\BraspagPagador\Gateway\Transaction\CreditCard\Resource\AntiFraud\Items\RequestFactory">
        <arguments>
            <argument name="objectManager" xsi:type="object">Magento\Framework\ObjectManager\ObjectManager</argument>
            <argument name="class" xsi:type="string">Webjump\BraspagPagador\Gateway\Transaction\CreditCard\Resource\AntiFraud\Items\Request</argument>
            <argument name="session" xsi:type="object">Magento\Checkout\Model\Session</argument>
        </arguments>
    </virtualType>

    <virtualType name="BraspagTransactionCreditCardCaptureRequestBuilder" type="Webjump\BraspagPagador\Gateway\Transaction\CreditCard\Resource\Capture\RequestBuilder">
        <arguments>
            <argument name="request" xsi:type="object">BraspagTransactionCreditCardCaptureRequest</argument>
        </arguments>
    </virtualType>

    <type name="Webjump\BraspagPagador\Model\CardTokenRepository">
        <arguments>
            <argument name="storeManager" xsi:type="object">\Magento\Store\Model\StoreManager</argument>
            <argument name="session" xsi:type="object">\Magento\Customer\Model\Session</argument>
            <argument name="resource" xsi:type="object">\Webjump\BraspagPagador\Model\ResourceModel\CardToken</argument>
        </arguments>
    </type>

    <virtualType name="BraspagTransactionCreditCardAuthorizeCommandResponseHandlerPool" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="base" xsi:type="string">Webjump\BraspagPagador\Gateway\Transaction\CreditCard\Resource\Authorize\Response\BaseHandler</item>
                <item name="antifraude" xsi:type="string">Webjump\BraspagPagador\Gateway\Transaction\CreditCard\Resource\Authorize\Response\AntiFraudHandler</item>
                <item name="avs" xsi:type="string">Webjump\BraspagPagador\Gateway\Transaction\CreditCard\Resource\Authorize\Response\AvsHandler</item>
                <item name="card_token" xsi:type="string">Webjump\BraspagPagador\Gateway\Transaction\CreditCard\Resource\Authorize\Response\CardTokenHandler</item>
                <item name="nsu" xsi:type="string">Webjump\BraspagPagador\Gateway\Transaction\CreditCard\Resource\Authorize\Response\NsuHandler</item>
                <item name="velocity_analysis" xsi:type="string">Webjump\BraspagPagador\Gateway\Transaction\CreditCard\Resource\Authorize\Response\VelocityAnalysisHandler</item>
                <item name="status_antifraude" xsi:type="string">Webjump\BraspagPagador\Gateway\Transaction\CreditCard\Resource\Authorize\Response\StatusAntiFraudHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="BraspagTransactionCreditCardAuthorizeCommand" type="Webjump\BraspagPagador\Gateway\Transaction\CreditCard\Command\AuthorizeCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">BraspagTransactionCreditCardAuthorizeRequestBuilder</argument>
            <argument name="responseHandler" xsi:type="object">BraspagTransactionCreditCardAuthorizeCommandResponseHandlerPool</argument>
            <argument name="api" xsi:type="object">\Webjump\Braspag\Pagador\Transaction\BraspagFacade</argument>
            <argument name="requestValidator" xsi:type="object">\Webjump\BraspagPagador\Gateway\Transaction\CreditCard\Resource\Authorize\Request\Validator</argument>
            <argument name="responseValidator" xsi:type="object">\Webjump\BraspagPagador\Gateway\Transaction\CreditCard\Resource\Authorize\Response\Validator</argument>
        </arguments>
    </virtualType>

    <virtualType name="BraspagTransactionCreditCardCaptureCommand" type="Webjump\BraspagPagador\Gateway\Transaction\CreditCard\Command\CaptureCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">BraspagTransactionCreditCardCaptureRequestBuilder</argument>
            <argument name="responseHandler" xsi:type="object">\Webjump\BraspagPagador\Gateway\Transaction\CreditCard\Resource\Capture\ResponseHandler</argument>
            <argument name="api" xsi:type="object">\Webjump\Braspag\Pagador\Transaction\BraspagFacade</argument>
            <argument name="requestValidator" xsi:type="object">\Webjump\BraspagPagador\Gateway\Transaction\CreditCard\Resource\Capture\Request\Validator</argument>
            <argument name="responseValidator" xsi:type="object">\Webjump\BraspagPagador\Gateway\Transaction\CreditCard\Resource\Capture\Response\Validator</argument>
        </arguments>
    </virtualType>

    <virtualType name="BraspagTransactionCreditCardCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="initialize" xsi:type="string">Webjump\BraspagPagador\Gateway\Transaction\Base\Command\InitializeCommand</item>
                <item name="authorize" xsi:type="string">BraspagTransactionCreditCardAuthorizeCommand</item>
                <item name="capture" xsi:type="string">BraspagTransactionCreditCardCaptureCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Braspag Pagador Transaction Payment Credit Card Token -->

    <virtualType name="BraspagTransactionCreditCardTokensRemoteMethodAdapter" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\Webjump\BraspagPagador\Model\Payment\Transaction\CreditCardToken\Ui\ConfigProvider::CODE</argument>
            <argument name="valueHandlerPool" xsi:type="object">BraspagTransactionCreditCardTokenValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">BraspagTransactionCreditCardCommandPool</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form\Cc</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
        </arguments>
    </virtualType>

    <virtualType name="BraspagTransactionCreditCardTokenConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\Webjump\BraspagPagador\Model\Payment\Transaction\CreditCardToken\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <virtualType name="BraspagTransactionCreditCardTokenConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">BraspagTransactionCreditCardTokenConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="BraspagTransactionCreditCardTokenValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">BraspagTransactionCreditCardTokenConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Braspag Pagador Transaction Payment Debit Card -->

    <virtualType name="BraspagTransactionDebitCardsRemoteMethodAdapter" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\Webjump\BraspagPagador\Model\Payment\Transaction\DebitCard\Ui\ConfigProvider::CODE</argument>
            <argument name="valueHandlerPool" xsi:type="object">BraspagTransactionDebitCardValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">BraspagTransactionDebitCardCommandPool</argument>
            <argument name="formBlockType" xsi:type="string">Webjump\BraspagPagador\Block\Form\CreditCard</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
        </arguments>
    </virtualType>

    <virtualType name="BraspagTransactionDebitCardConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\Webjump\BraspagPagador\Model\Payment\Transaction\DebitCard\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <virtualType name="BraspagTransactionDebitCardConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">BraspagTransactionDebitCardConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="BraspagTransactionDebitCardValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">BraspagTransactionDebitCardConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="BraspagTransactionDebitCardCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="initialize" xsi:type="string">Webjump\BraspagPagador\Gateway\Transaction\Base\Command\InitializeCommand</item>
                <item name="authorize" xsi:type="string">BraspagTransactionDebitCardOrderCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="BraspagTransactionDebitCardOrderCommand" type="Webjump\BraspagPagador\Gateway\Transaction\DebitCard\Command\OrderCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">BraspagTransactionDebitCardOrderRequestBuilder</argument>
            <argument name="responseHandler" xsi:type="object">\Webjump\BraspagPagador\Gateway\Transaction\DebitCard\Resource\Order\ResponseHandler</argument>
            <argument name="api" xsi:type="object">\Webjump\Braspag\Pagador\Transaction\BraspagFacade</argument>
            <argument name="requestValidator" xsi:type="object">\Webjump\BraspagPagador\Gateway\Transaction\DebitCard\Resource\Order\Request\Validator</argument>
            <argument name="responseValidator" xsi:type="object">\Webjump\BraspagPagador\Gateway\Transaction\DebitCard\Resource\Order\Response\Validator</argument>
        </arguments>
    </virtualType>

    <virtualType name="BraspagTransactionDebitCardOrderRequestConfig" type="Magento\Framework\App\Config">
        <arguments>
            <argument name="config" xsi:type="object">Magento\Framework\App\Config</argument>
        </arguments>
    </virtualType>


    <virtualType name="BraspagTransactionDebitCardOrderRequestBuilder" type="Webjump\BraspagPagador\Gateway\Transaction\Base\Resource\RequestBuilder">
        <arguments>
            <argument name="request" xsi:type="object">BraspagTransactionDebitCardOrderRequest</argument>
        </arguments>
    </virtualType>

    <type name="Webjump\BraspagPagador\Model\CardToken" shared="false" />

    <type name="Webjump\BraspagPagador\Gateway\Transaction\DebitCard\Config\Config">
        <arguments>
            <argument name="contextAdmin" xsi:type="object">Webjump\BraspagPagador\Gateway\Transaction\Base\Config\ContextAdmin</argument>
        </arguments>
    </type>
    <type name="Webjump\BraspagPagador\Gateway\Transaction\Base\Config\InstallmentsConfig">
        <arguments>
            <argument name="contextAdmin" xsi:type="object">Webjump\BraspagPagador\Gateway\Transaction\Base\Config\ContextAdmin</argument>
        </arguments>
    </type>
    <type name="Webjump\BraspagPagador\Gateway\Transaction\CreditCard\Config\AntiFraudConfig">
        <arguments>
            <argument name="contextAdmin" xsi:type="object">Webjump\BraspagPagador\Gateway\Transaction\Base\Config\ContextAdmin</argument>
        </arguments>
    </type>
    <type name="Webjump\BraspagPagador\Gateway\Transaction\CreditCard\Config\MDDConfig">
        <arguments>
            <argument name="contextAdmin" xsi:type="object">Webjump\BraspagPagador\Gateway\Transaction\Base\Config\ContextAdmin</argument>
        </arguments>
    </type>
    <type name="Webjump\BraspagPagador\Gateway\Transaction\Base\Config\Config">
        <arguments>
            <argument name="contextAdmin" xsi:type="object">Webjump\BraspagPagador\Gateway\Transaction\Base\Config\ContextAdmin</argument>
        </arguments>
    </type>
    <type name="Webjump\BraspagPagador\Gateway\Transaction\CreditCard\Config\Config">
        <arguments>
            <argument name="contextAdmin" xsi:type="object">Webjump\BraspagPagador\Gateway\Transaction\Base\Config\ContextAdmin</argument>
        </arguments>
    </type>
    <type name="Webjump\BraspagPagador\Gateway\Transaction\Base\Config\SilentOrderPostConfig">
        <arguments>
            <argument name="contextAdmin" xsi:type="object">Webjump\BraspagPagador\Gateway\Transaction\Base\Config\ContextAdmin</argument>
        </arguments>
    </type>
    <type name="Webjump\BraspagPagador\Gateway\Transaction\Billet\Config\Config">
        <arguments>
            <argument name="contextAdmin" xsi:type="object">Webjump\BraspagPagador\Gateway\Transaction\Base\Config\ContextAdmin</argument>
        </arguments>
    </type>
    <type name="Webjump\BraspagPagador\Gateway\Transaction\Base\Resource\PaymentStatus\Request">
        <arguments>
            <argument name="contextAdmin" xsi:type="object">Webjump\BraspagPagador\Gateway\Transaction\Base\Config\ContextAdmin</argument>
        </arguments>
    </type>

    <type name="Webjump\BraspagPagador\Gateway\Transaction\Auth3Ds20\Config\Config">
        <arguments>
            <argument name="contextAdmin" xsi:type="object">Webjump\BraspagPagador\Gateway\Transaction\Base\Config\ContextAdmin</argument>
        </arguments>
    </type>

    <type name="Webjump\BraspagPagador\Model\Auth3Ds20TokenManager">
        <arguments>
            <argument name="request" xsi:type="object">\Webjump\BraspagPagador\Gateway\Transaction\Auth3Ds20\Resource\Token\RequestInterface</argument>
            <argument name="tokenCommand" xsi:type="object">\Webjump\BraspagPagador\Gateway\Transaction\Auth3Ds20\Command\TokenCommand</argument>
            <argument name="cookieManager" xsi:type="object">\Magento\Framework\Stdlib\CookieManagerInterface</argument>
            <argument name="cookieMetadataFactory" xsi:type="object">\Magento\Framework\Stdlib\Cookie\CookieMetadataFactory</argument>
            <argument name="builder" xsi:type="object">\Webjump\BraspagPagador\Gateway\Transaction\Auth3Ds20\Resource\Token\BuilderInterface</argument>
            <argument name="dataObject" xsi:type="object">\Magento\Framework\DataObject</argument>
        </arguments>
    </type>

    <type name="Webjump\BraspagPagador\Gateway\Transaction\Auth3Ds20\Command\TokenCommand">
        <arguments>
            <argument name="api" xsi:type="object">\Webjump\Braspag\Pagador\Transaction\FacadeInterface</argument>
        </arguments>
    </type>

    <type name="Webjump\BraspagPagador\Gateway\Transaction\Auth3Ds20\Resource\Token\Builder">
        <arguments>
            <argument name="dataObject" xsi:type="object">\Magento\Framework\DataObject</argument>
        </arguments>
    </type>
</config>
