<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_assign_data_braspag_pagador_creditcard">
        <observer name="braspag_payment_method_assign_data_braspag_pagador_creditcard" instance="Braspag\BraspagPagador\Observer\DataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_braspag_pagador_creditcardtoken">
        <observer name="braspag_payment_method_assign_data_braspag_pagador_creditcardtoken" instance="Braspag\BraspagPagador\Observer\DataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_braspag_pagador_debitcard">
        <observer name="braspag_payment_method_assign_data_braspag_pagador_debitcard" instance="Braspag\BraspagPagador\Observer\DataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_braspag_pagador_boleto">
        <observer name="braspag_payment_method_assign_data_braspag_pagador_boleto" instance="Braspag\BraspagPagador\Observer\DataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_braspag_pagador_pix">
        <observer name="braspag_payment_method_assign_data_braspag_pagador_pix" instance="Braspag\BraspagPagador\Observer\DataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_braspag_pagador_voucher">
        <observer name="braspag_payment_method_assign_data_braspag_pagador_voucher" instance="Braspag\BraspagPagador\Observer\DataAssignObserver" />
    </event>
    <event name="checkout_submit_all_after">
        <observer name="braspag_payment_checkout_submit_all_after" instance="Braspag\BraspagPagador\Observer\CheckoutSubmitAllAfterObserver" />
    </event>
</config>
