<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="payment_method_assign_data_braspag_pagador_creditcard">
        <observer name="webjump_payment_method_assign_data_braspag_pagador_creditcard" instance="Webjump\BraspagPagador\Observer\DataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_braspag_pagador_creditcardtoken">
        <observer name="webjump_payment_method_assign_data_braspag_pagador_creditcardtoken" instance="Webjump\BraspagPagador\Observer\DataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_braspag_pagador_debitcard">
        <observer name="webjump_payment_method_assign_data_braspag_pagador_debitcard" instance="Webjump\BraspagPagador\Observer\DataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_braspag_pagador_boleto">
        <observer name="webjump_payment_method_assign_data_braspag_pagador_boleto" instance="Webjump\BraspagPagador\Observer\DataAssignObserver" />
    </event>
    <event name="checkout_submit_all_after">
        <observer name="webjump_payment_checkout_submit_all_after" instance="Webjump\BraspagPagador\Observer\CheckoutSubmitAllAfterObserver" />
    </event>
</config>