<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
  <menu>
    <add id="Braspag_BraspagPagador::braspag" parent="Magento_Sales::sales" resource="Braspag_BraspagPagador::braspag" module="Braspag_BraspagPagador" title="Braspag" sortOrder="500"/>
    <add id="Braspag_BraspagPagador::paymentsplit" resource="Braspag_BraspagPagador::paymentsplit" module="Braspag_BraspagPagador" title="Payment Splits" sortOrder="10" action="braspag/paymentsplit" parent="Braspag_BraspagPagador::braspag" />
  </menu>
</config>
